body{ 
	margin: 0; 
	padding: 0; 
	font-size: 12px; 
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2;
	font-size: 1em;
	line-height: 1.5em;
	padding-top: 10px;
}
header{
	background-color: #ddd; 
	height: 120px;
}
nav{
	float: right;
	background-color: #336699;
	display: block;
	width: 100%;	
}
nav span{
	line-height: 40px;
	margin-left: 10px;
	
}
nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}
nav ul li{
	padding: 10px 20px;
	display: inline-block;
}
nav ul li>a{
	color: black;
}
nav ul li>a:link{
	text-decoration: none;
}
nav ul li>a:hover{
	background: #0b76a6;
	border-left: 10px;
	border-color: white;	
}
footer{
	background: #ddd;
	text-align: center;
	width: 100%;
	padding: 20px;
	margin-top: 40px;
	clear: both;
}
footer a{
	color: black;
}
footer a:link{
	text-decoration: none;
}
h1{
	font-family: 'Jim Nightshade', cursive; text-align: center;
}
article{
	margin: 10px;
	background-color: white;
}
article p{
	margin: 5px;
}
aside picture{
	width: 100%
}
.Logo{
	height: 120px;
	padding-left: 20px;
}
.Logo img{
	height: 120px;
}
.main{
	min-height: 200px;
	background-color: #dfdfdf;
	float: left;
	width: 65%
}
.main article picture{
	width: 100%;
	display: block;
	text-align: center;
	margin: auto;
}
.main article picture img{
	margin: auto;
}
.main-r{
	float: left;
	width: 35%;
}
.content{
	width: 80%;
	margin: 0 auto;
}
.img-font{
	width: 100%;
}