body{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Helvetica, Arial sans-serif;
	color:#666;
	background: #f2f2f2;
	font-size:  1em;
	line-height: 1.5em;
	padding-top: 10px;
}

header{
	background-color: #ddd;
	height: 120px;

}

nav{
	float: right;
	background-color: #336699;
	display: block;
	width: 100%;
}

nav span{
	line-height: 40px;
	margin-left: 10px;
	color: black;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
	float: right;
}

nav ul li{
display: inline-block;
}

nav ul li>a{

	border-left:10px;
	border-color: white;
	text-decoration: none;
	color: black;
}

nav ul li>a:hover{
	background: #5858FA;
	border-left:10px;
	border-color: white;
}

footer{
	background: #ddd;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
	clear:both;
}

footer a{
text-decoration: none;
color: black;
}

h1 {
	font-family: 'Jim Nightshade', cursive;
	text-align: center;
}

article{
	margin: 10px;
	background-color: white;
}

article p{
	margin: 5px;
	background-color: white;
}

aside p{
	margin: 5px;
}

aside picture{
display: inline-block;
}

.logo{
	height: 120px;
	padding-left: 20px;
}

.logo img{
	height: 120px;
}

.main{
	min-height: 200px;
	background-color: #dfdfdf;
	width: 70%;
	float:left;
}
.main article picture{
	width: 100%;
	display: block;
	text-align: center;
	margin: auto;

}

.main article picture img{
	margin: auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.main-r{
	width: 30%;
	margin-left: 70%;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.content{
	width: 80%;
	margin:0 auto;
	display: inline-block;
	margin-left: 10%;
}

.img-font{
	width: 100%;
}
#codigo{
	height: 5px;
	margin-left: 0px;
	color: black;
}
