body{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Helvetica, Arial; sans-serif;
	color: #666;
	background: #f2f2f2;
	font-size: 1em;
	line-height: 1.5em;
	padding-top: 10px;
}

header{
	background-color: #ddd;
	height: 120px;
}

nav{
	float: right;
	background-color: #336699;
	display: block;
	width: 100%;
}

nav span{
	line-height: 40px;
	margin-left: 10px;
	color: black;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
	float: right;
}

nav ul li{
	display: inline-block;
	margin-right: 20px;	
	cursor: pointer;
}

nav ul li>a{
	
}

nav ul li>a:hover{
	background: #0b76a6;
	border-left: 10px;
	border-color: white;
}

footer{
	background: #ddd;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
	clear: both;
}

footer a{
	color: red;
	font-weight: bold;
}

h1{
	font-family: 'Jim Nightshade', cursive;
	text-align: center;
}

article{
	margin: 10px;
	background-color: white;
}

article p{
	margin: 5px;
}

aside p{
	margin: 5px;
}

aside picture{
	
}

.logo{
	height: 120px;
	padding-left: 20px;
}

.logo img{
	height: 120px;
}

.main{
	min-height: 200px;
	background-color: #dfdfdf;
	float: right;
}

.main article picture{
	width: 100%;
	display: block;
	text-align: center;
	margin: auto;
}

.main article picture img{
	margin: auto;
}

.main-r{
	width: 30%;
	float: left;
}

.content{
	width: 80%;
	margin: 0 auto;
}

.img-font{
	width: 100%;
}