
body{
	margin: 0 auto;
	padding: 0;
	font-size: 12px;
	font-family: Helvetica, Arial,sans-serif;
	color:#666;
	background: #f2f2f2;
	font-size: 1em;
	line-height: 1.5em;
	padding-top: 10px;
	text-align: left;
}

header{
	background-color:#ddd;
	height: 120px;

}

nav{
	float: right;
	background-color: #336699;
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	text-align: left;

}

nav span{
	line-height: 40px;
	margin-left:10px;
	color: black; 
}

nav ul{
	margin:0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
	float: right;
}

nav ul li{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius: 5px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
	text-align: center;

}

nav ul li a{
    color:#999;
    display:block;
    padding:10px;
    text-decoration:none;
    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    -o-transition: 0.4s linear all;
    transition: 0.4s linear all;
}

nav ul li>a:hover{
	background: #0b76a6;
	border-left: 10px;
	border-color: white;
}


footer {
	background: #ddd;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
	clear: both;
}

footer a{
	color: red;
}

h1{
	font-family: 'Jim Nightshade', cursive;
	text-align:center;
}

article{
	margin: 10px;
	background-color: white; 
}

article p{
	margin: 5px;
}

aside{
	float: right;
	width: 19%;

}

aside p{
	margin: 5px;

}
aside picture{

}
.logo{
	height: 120px;
	padding-left: 20px;
}

.logo img{
	height: 120px;
}

.main{
	min-height: 200px;
	background-color: #dfdfdf;
}

.main article picture{
	width: 20%;
	display: block;
	text-align: center;
	margin: auto;
}

.main article picture img {
	margin-left: auto;
}

.main-r{
	width: 30%;

}

.content{
	width: 80%;
	margin: 0 auto;
}

.img-font{
	width: 100%
}