/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 25/03/2017, 11:49:22 AM
    Author     : DiegoC
*/

html,body,ul {
    margin:0;
    padding:0;
}
.body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    background: #f2f2f2;
    font-size: 1em;
    line-height: 1.5em;

    padding-top: 80px;
}

h1 {
    font-size: 2.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}

p {
    margin: 0 0 1.5em 0;
}

img {
    max-width: 100%;
    height: auto;
}
#main-header {
    background: #333;
    color: white;
    height: 80px;

    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 99999999;
}
#main-header a {
    color: white;
}

/*
 * Logo
 */
#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
#logo-header:hover {
    color: #0b76a6;
}

#logo-header .site-name {
    float: block;
    float: left;
    font-weight: 700;
    font-size: 1.2em;
    float: left;
    padding-top: 5px;
}

#logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}

.logo {
    display: inline-block;
    width: 90px;
    padding: 0px;
    margin: 0px;
    padding-right: 10px;
}

nav {
    float: right;
}
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

.menu>li{
    float: left;
    text-align:center;
    line-height: 80px;
    display: inline-block;
}
.menu li>a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    background-color: #333;
    min-width: 80px;
}

.menu li>a:hover {
    background: #0b76a6;

}



.menu>li>ul {
    display: none;
    text-decoration: none;
    list-style: none;
}

.menu>li:hover>ul {
    display: block;
    line-height: 40px;
    text-decoration: none;
}

/************
//------------------------------
// CONTENIDO
//------------------------------
************/
#main-content {
    background: white;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

#main-content header,
#main-content .content {
    padding: 40px;
}

.fotos-reina {
    width: 100%;
    text-align: center;
    background-color: red;
    margin : 0 auto;

}

.fotos-reina img {
    width: 100%;
    margin : 0 auto;
}

/************
//-----------------------------
// PIE PÁGINA
//-----------------------------
************/
#main-footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
   
    width: 100%;
    bottom:0;
}
#main-footer p {
    margin: 0;
}

#main-footer a {
    color: white;
}

.contenedor{
    content:"";display:table;clear:both;
    color: #fff!important;background-color:#f44336!important;
    text-align:center!important;
}

.banner{
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
     justify-content: center;
    z-index: 1;
   
}

.banner_boton{
    width: 10px;
    height: 10px;
    display: inline-block;
    z-index: 2;
}
.banner_boton input{
    margin: 5px;
    padding: 0;
    
}

.tamañoBanner{
    width: 530.28px;
    height: 245.80px;
}

.logos_aliados_footer{
    display: block!important;
}

.redes_footer{
    display: block!important;
}

.redes_footer p{
    display: inline-block;
}
.redes{
    margin: 5px;
}

.bloque_section{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    height: 200px;
    margin-bottom: 100px;

}

.bloque_section2{
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -o-column-count: 2;

    column-gap: 0;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    -o-column-gap: 0;


    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    height: auto;
    display: block;
    margin-bottom: 30px;
}

section img{
    height:90%;
}

section img:hover{
    height:100%;
}

.comen_sect{
    text-align: center;
    margin :20px;
}

#mibloque{
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -o-column-count: 3;
        /*Espacio entre columnas*/
    column-gap: 2em;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    -o-column-gap: 2em;
    /*Agrega una barra solida de color*/
    column-rule: 2px solid #666;
    -webkit-column-rule: 2px solid #666;
    -moz-column-rule: 2px solid #666;
    -o-column-rule: 2px solid #666;

    text-align: center;
    margin-bottom: 40px;
}


.text_article{
    width: 100%;
}

.text_article p{
    text-align: justify;
}

.bloque{
    display: block;
    min-height: 400px;
}

.full-x{
    width: 100%!important;
}

.full-x.no-center{
    margin: 0!important;
    padding: 0!important;
}

.reset{
    margin: 0!important;
    padding: 0!important;
}

